---
import { Icon } from 'astro-icon/components';
---

<section id="comparison" class="py-20 bg-gray-50 relative overflow-hidden">
  <div class="container-custom relative z-10">
    <div class="text-center max-w-3xl mx-auto mb-16">
      <span class="text-payflo-purple font-bold tracking-wider uppercase text-xl mb-2 block">¿Por qué necesito agentes IA?</span>
      <h2 class="text-3xl md:text-5xl font-bold mb-6">La IA se encarga de la rutina,<br> tu equipo de la <span class="text-payflo-purple">estrategia</span>.</h2>
      <p class="text-xl text-gray-600">
            Tu equipo humano deja de responder preguntas repetitivas sobre horarios y precios, y empieza a dedicarse a <strong>cerrar ventas complejas</strong> o <strong>resolver problemas críticos.</strong></p>
      
      <div class="md:hidden mt-4 text-sm text-gray-500 flex items-center justify-center animate-pulse">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4" />
        </svg>
        Desliza para comparar
      </div>
    </div>

    <div class="max-w-5xl mx-auto bg-white rounded-2xl shadow-xl overflow-hidden border border-gray-100">
      <div class="overflow-x-auto">
        <div class="min-w-[900px]">
          <!-- Header Row -->
          <div class="grid grid-cols-12 border-b border-gray-200">
        <div class="col-span-4 p-6 flex items-center bg-gray-50/50">
          <span class="font-bold text-lg text-gray-400 uppercase tracking-wider text-sm">Características</span>
        </div>
        <div class="col-span-4 p-6 flex items-center justify-center bg-gray-50 border-l border-r border-gray-200">
          <div class="text-center">
            <span class="block font-bold text-xl text-gray-700">Humano Tradicional</span>
            <span class="text-sm text-gray-500">Call Center / Soporte</span>
          </div>
        </div>
        <div class="col-span-4 p-6 flex items-center justify-center bg-gradient-to-r from-payflo-purple to-payflo-blue text-white relative overflow-hidden">
          <div class="absolute inset-0 bg-white/10 opacity-0 hover:opacity-100 transition-opacity duration-300"></div>
          <div class="text-center relative z-10">
            <span class="block font-bold text-xl">Agente Xendra Pro</span>
            <span class="text-sm text-white/80">IA Conversacional</span>
          </div>
        </div>
      </div>

      <!-- Rows -->
      <div class="divide-y divide-gray-100">
        <!-- Row 1 -->
        <div class="grid grid-cols-12 group hover:bg-gray-50 transition-colors duration-200">
          <div class="col-span-4 p-5 md:px-8 flex items-center font-semibold text-gray-700">
            <svg class="w-8 h-8 mr-3 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><title>time-clock-24-hrs-2</title><g fill="none"><path fill="#0c6fff" d="M9.255 19.614a4.7 4.7 0 0 1-2.242-.13a6.8 6.8 0 0 1-2.072-1.006a8.84 8.84 0 0 1-3.017-4.164a12.2 12.2 0 0 1-.704-5.169A7.76 7.76 0 0 1 5.011 2.78a13.35 13.35 0 0 1 7.573-1.67a8.29 8.29 0 0 1 6.034 3.812a10.2 10.2 0 0 1 1.74 7.14a.3.3 0 0 0 .231.352a.28.28 0 0 0 .352-.22a10.85 10.85 0 0 0-1.63-7.714A9.2 9.2 0 0 0 12.716.064a14.3 14.3 0 0 0-8.307 1.74a8.79 8.79 0 0 0-4.234 7.24c-.11 1.897.196 3.795.895 5.562A9.7 9.7 0 0 0 4.49 19.1a7.4 7.4 0 0 0 2.333 1.006c.84.225 1.72.256 2.574.09a.35.35 0 0 0 .262-.412a.34.34 0 0 0-.403-.171"/><path fill="#020202" d="M13.54 21.555a16 16 0 0 0 1.89-2.152c.43-.565.714-1.229.825-1.931a2.01 2.01 0 0 0-1.137-2.152a2.13 2.13 0 0 0-1.74-.11a3.4 3.4 0 0 0-1.84 1.467a5 5 0 0 0-.251.604q-.092.316-.131.644a.31.31 0 0 0 .271.331a.29.29 0 0 0 .322-.261q.045-.258.141-.503c.08-.17.161-.332.241-.473a2.56 2.56 0 0 1 1.197-.935a1.36 1.36 0 0 1 1.277 0a1.217 1.217 0 0 1 .403 1.67a11.3 11.3 0 0 1-2.243 3.016a9 9 0 0 0-1.116 1.137a.91.91 0 0 0-.12.764a.73.73 0 0 0 .391.422q.31.127.644.151l2.373.171h1.066a.341.341 0 0 0 0-.673h-.965l-2.273-.322l-.14-.06l.16-.131c.252-.292.634-.553.754-.674m10.037-2.021c-.272-.141-.845 0-1.88.17v-.251c0-1.006-.152-1.9-.202-2.464a.31.31 0 0 0-.302-.302a.29.29 0 0 0-.291.302c-.07.553-.232 1.448-.302 2.444v.372l-.704.08q-.745.045-1.488 0h-.393a.55.55 0 0 1-.26-.06a81 81 0 0 1 1.397-3.47c.138-.354.317-.692.533-1.005a.31.31 0 0 0 0-.422a.3.3 0 0 0-.423 0a5 5 0 0 0-.734 1.005c-.452.825-.824 1.79-1.216 2.544c-.251.4-.44.833-.564 1.288a.86.86 0 0 0 .232.754c.144.147.324.255.523.312c.311.081.633.115.955.1c.422 0 .855-.05 1.297-.11c.443-.06.584-.121.875-.181v.301q.03 1.243.201 2.474q.014.165.06.322c.091.231.252.272.343.262a.34.34 0 0 0 .342-.342s.11-1.65.16-2.706v-.523c.342-.06 1.378-.17 1.74-.281c.362-.11.362-.252.372-.332a.35.35 0 0 0-.271-.282m-11.364-8.266q.117-.389.11-.794c0-.453 0-1.117-.06-1.86c-.08-1.359-.241-3.018-.271-4.245a.342.342 0 1 0-.684 0c-.09 1.257-.11 2.927-.11 4.294v2.002h-.624l-1.61.1l-2.684.06a.29.29 0 0 0-.312.282a.3.3 0 0 0 .281.312c1.137.11 3.088.332 4.335.352c.43.034.863-.01 1.277-.13a.6.6 0 0 0 .352-.373"/></g></svg>
            Disponibilidad
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center text-gray-600 border-l border-r border-gray-100 bg-gray-50/30">
            Limitada <br class="block"/>(8-9 horas/día)
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center font-bold text-payflo-purple bg-payflo-purple/5">
            24/7/365
          </div>
        </div>

        <!-- Row 2 -->
        <div class="grid grid-cols-12 group hover:bg-gray-50 transition-colors duration-200">
          <div class="col-span-4 p-5 md:px-8 flex items-center font-semibold text-gray-700">
            <svg class="w-8 h-8 mr-3 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><title>vectors-path-flat</title><g fill="none" fill-rule="evenodd" clip-rule="evenodd"><path fill="#020202" d="M1.078 8.878c1.28.66 3.29-.16 3.5-1.5v-.8h-.11a2.6 2.6 0 0 0-.19-.37c-.84-1.22-2.28-2.01-3.42-1.07a2.3 2.3 0 0 0 .22 3.74m.32-3.14c.67-.69 3.21 1.18 1.68 2c-.92.49-1.97.25-2.08-.75a1.57 1.57 0 0 1 .4-1.25m1.38 9.692a1 1 0 0 0 0-.16h-.8a1.75 1.75 0 0 0-1.13.4c-1.51 1.08-.63 3.55 1.2 3.7a2.09 2.09 0 0 0 2.39-1.69a2 2 0 0 0-1.66-2.25m.76 2.11a1.24 1.24 0 0 1-2.29 0c-.8-1.86 2.81-2.06 2.29 0M21.122 5.118a2.1 2.1 0 0 0-1.55 1.43h-.11v.73h.06a2.3 2.3 0 0 0 2.22 1.71c3.34.07 2.84-4.5-.62-3.87m-.56 1.56a1.29 1.29 0 0 1 2.52.41c-.18 1.25-2.88.73-2.52-.41"/><path fill="#0c6fff" d="M19.843 13.99h.84a8.25 8.25 0 0 0-5.101-6.311l-.84-.32c.663.09 1.336.09 2 0l1.74-.05v-.82c-1.07-.06-2.68-.15-3.84-.17c-1.1.68-.82 1.3 0 1.89a11.4 11.4 0 0 1 3.07 2.32a8.6 8.6 0 0 1 1.35 1.6c.348.58.61 1.207.78 1.86M8.3 8.119c.89-.57 1.11-1.16 0-1.79c-.916-.093-1.84-.07-2.75.07v1c.895.052 1.793.016 2.68-.11c-.32.16-.63.36-.88.48c-2.76 1.22-4.351 2.61-5.111 5.49a7 7 0 0 0-.19 1.061h.8a9.7 9.7 0 0 1 .85-2A10.3 10.3 0 0 1 7.7 8.598c.17-.1.38-.25.6-.41z"/><path fill="#020202" d="M20.912 14.99h-.91v.09a2 2 0 0 0-1.34 2.64c1 1.8 3.8 1.26 4.08-.33a2.37 2.37 0 0 0-1.83-2.4m1 2.22a1.33 1.33 0 0 1-2.21 0c-.27-.42.07-.89.48-1.18c1.11-.86 1.87.61 1.72 1.13zM13.67 5.618c0-1.2-.61-1-1.28-1q-.405-.03-.81 0c-1.66.09-2 .11-2.11.74c0 .07-.18 2.38-.11 2.35c.1 1.17.92 1.24 2.27 1.3c.46.065.929.024 1.37-.12a1.26 1.26 0 0 0 .55-1.12c-.01-.53.12-2.15.12-2.15m-1.17 1v.83c-.06.9.15.36-.83.37c-1.35 0-1.44.16-1.42-.9c0-.19-.07-.66-.09-1.1q.024-.213.08-.42h1.39a3.3 3.3 0 0 1 1.09.22c-.09.37-.18.7-.22 1"/></g></svg>
            Capacidad de Atención
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center text-gray-600 border-l border-r border-gray-100 bg-gray-50/30">
            1 cliente a la vez <br class="block"/>(Lineal)
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center font-bold text-payflo-purple bg-payflo-purple/5">
            Múltiple
          </div>
        </div>

        <!-- Row 3 -->
        <div class="grid grid-cols-12 group hover:bg-gray-50 transition-colors duration-200">
          <div class="col-span-4 p-5 md:px-8 flex items-center font-semibold text-gray-700">
            <svg class="w-8 h-8 mr-3 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><title xmlns="">time-wrist-watch-1</title><g fill="none" fill-rule="evenodd" clip-rule="evenodd"><path fill="#0c6fff" d="M7.31 11.65c-.12-.14-.22-.24-.28-.3l-.25-.94a.3.3 0 0 0-.59 0L6 11.7a.52.52 0 0 0 .16.36q.238.289.55.5q.478.322 1 .57a.32.32 0 0 0 .46-.05a.33.33 0 0 0-.05-.47c-.38-.4-.61-.74-.81-.96"/><path fill="#020202" d="M23.59 13.92a2.83 2.83 0 0 0 .41-1.38a2.56 2.56 0 0 0-.42-1.43l-.06-.08q.088-.105.16-.22a2.68 2.68 0 0 0 .25-1.71a2 2 0 0 0-1-1.5a1.4 1.4 0 0 0-.39-.09a3 3 0 0 0-.15-1.92a2.09 2.09 0 0 0-1.69-1.17a24.5 24.5 0 0 0-3.83-.24a19.5 19.5 0 0 0-3.87.45a2.2 2.2 0 0 0-.68.3c-.67.44-1.13 1.34-1.77 1.51l-1.37.08v-.15A1.22 1.22 0 0 0 9 5.63a3.8 3.8 0 0 0-1.85-.41a11.5 11.5 0 0 0-1.7 0a2.4 2.4 0 0 0-1 .26a1.64 1.64 0 0 0-.27 1a.3.3 0 0 0-.14 0c-.45-.07-.86-.14-1.33-.18h-.58a4 4 0 0 0-.56.06c-.39.06-.79.19-1.29.3a.3.3 0 0 0-.28.26a.29.29 0 0 0 .31.28c.5.07.92.15 1.32.18q.275.015.55 0c.2 0 .38 0 .56-.06c.45-.07.84-.15 1.28-.21q.075.013.15 0q.013.409.1.81a3.84 3.84 0 0 0-1.66 2.19A5 5 0 0 0 3 13.85c.29.502.703.921 1.2 1.22a.3.3 0 0 0 0 .09c0 .43-.13.88-.17 1.31l-1.09-.18a6 6 0 0 0-.94-.08c-.55.02-1.097.1-1.63.24a.3.3 0 1 0 0 .59c.54.06 1 .18 1.38.25q.468.065.94.07q.661-.002 1.31-.12a2 2 0 0 0 .24 1a.7.7 0 0 0 .35.27a4.3 4.3 0 0 0 1.22.2q.87.06 1.74 0c.447-.016.889-.1 1.31-.25a1.46 1.46 0 0 0 .51-1.12a2 2 0 0 0 0-.24l1.14.07c.13 0 .2.12.29.23c.287.48.64.918 1.05 1.3A8.1 8.1 0 0 0 15 19.71a11.8 11.8 0 0 0 3.27 0c.485-.058.96-.183 1.41-.37c.327-.14.62-.349.86-.61a1.9 1.9 0 0 0 .53-1q.023-.225 0-.45a8.8 8.8 0 0 0 1.93-.29a1.34 1.34 0 0 0 .93-1.13a2.54 2.54 0 0 0-.41-1.87a.3.3 0 0 0 .07-.07M4.91 7.26A8 8 0 0 1 5 6.37a1 1 0 0 1 .2 0h3.09a7.4 7.4 0 0 1 .14 1.47a6 6 0 0 0-3-.35a5 5 0 0 0-.57.15c.04-.17.05-.27.05-.38m3.63 9.16c0 1.07.12 1.12-1.39 1.15h-2.2a2 2 0 0 1-.16-.66v-1.49c.388.153.795.254 1.21.3a5 5 0 0 0 2.48-.26q.087.476.06.96m14.24-.25c-1.22.36-2.53.53-6.37.12a.34.34 0 0 0-.37.3a.33.33 0 0 0 .29.36a35 35 0 0 0 4 .34h.07q.015.144 0 .29c-.07.219-.203.413-.38.56a1.9 1.9 0 0 1-.62.36c-.39.119-.793.186-1.2.2c-1 .078-2.007.045-3-.1a7.9 7.9 0 0 1-2.82-.78c-.5-.26-.76-.91-1.16-1.2a1.14 1.14 0 0 0-.61-.23H9.38a4.3 4.3 0 0 0-.23-1.21v-.05c.1-.06.21-.1.31-.17a.347.347 0 1 0-.46-.52a3.8 3.8 0 0 1-2.85.47a3.13 3.13 0 0 1-2.29-1.52a4 4 0 0 1-.19-3a2.57 2.57 0 0 1 2-1.87A4.23 4.23 0 0 1 9 9.23a3.58 3.58 0 0 1 1.06 3.3a2.67 2.67 0 0 1-.49 1.37a.3.3 0 0 0 .162.462a.29.29 0 0 0 .308-.102a3 3 0 0 0 .46-.78q.166-.421.23-.87a4.32 4.32 0 0 0-1.08-4.08a3.6 3.6 0 0 0-.55-.41a9 9 0 0 0 .11-1h.93l.61-.06c.7-.17 1.25-1.08 2-1.54a1.3 1.3 0 0 1 .44-.17a18.3 18.3 0 0 1 3.68-.36a24.4 24.4 0 0 1 3.69.35a1.1 1.1 0 0 1 .89.62a2 2 0 0 1 0 1.26a17 17 0 0 1-2.43.29l-.23.07c-.41.06-1.2.45-1.16.74s.82.45 1.13.39s2.44-.07 2.69-.1c1.15-.13 1.26.17 1.34.64c.067.32.028.653-.11.95c-.12.21-.43.25-.72.29h-.36c-.47 0-3.38.2-3.39.5s3 .64 3.55.61q.473.002.93.12c.14.221.217.477.22.74a1.75 1.75 0 0 1-.2.79c-.38.09-.77.14-1.16.15c-.69 0-3.76.27-3.75.52s3.56.51 4.42.43a1.07 1.07 0 0 1 .56.13c.203.27.306.602.29.94c.03.37-.02.67-.29.75"/></g></svg>
            Tiempo de Respuesta
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center text-gray-600 border-l border-r border-gray-100 bg-gray-50/30">
            Variable <br class="block"/>(Hold, espera)
          </div>
            <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center font-bold text-payflo-purple bg-payflo-purple/5">
            Inmediata
          </div>
        </div>

        <!-- Row 4 -->
        <div class="grid grid-cols-12 group hover:bg-gray-50 transition-colors duration-200">
          <div class="col-span-4 p-5 md:px-8 flex items-center font-semibold text-gray-700">
            <svg class="w-8 h-8 mr-3 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><title xmlns="">retract-shrink-arrow</title><g fill="none" fill-rule="evenodd" clip-rule="evenodd"><path fill="#0c6fff" d="M10.733 8.892A3.6 3.6 0 0 0 8.977 9.91a2.704 2.704 0 0 0-.44 3.322a3.88 3.88 0 0 0 2.765 1.866a3.4 3.4 0 0 0 3.622-2.514c.918-3.233-2.255-4.141-4.191-3.692m3.103 3.343a2.195 2.195 0 0 1-2.385 1.536a2.63 2.63 0 0 1-1.826-1.197a1.6 1.6 0 0 1 .09-1.996a2.6 2.6 0 0 1 1.257-.858c1.547-.519 3.653.409 2.864 2.515"/><path fill="#020202" d="M1.742 7.076q.62-.091 1.248-.09c.997 0 1.995.14 2.993.23c.09 0 .858.07 1.168.06a.79.79 0 0 0 .698-.42c.17-.468.29-.953.36-1.447c.13-.998.13-2.195.299-3.113a.39.39 0 0 0-.28-.479a.39.39 0 0 0-.489.29c-.289.897-.469 2.055-.728 3.073l-.998-1.467c-.24-.31-.489-.619-.738-.918c-.25-.3-.629-.529-.898-.798C3.718 1.338 2.99.749 2.35.12a.35.35 0 0 0-.529.459c.54.758.998 1.516 1.587 2.255c.23.31.479.609.738.898c.26.29.519.579.798.858c.47.489.998.998 1.447 1.427l-.409-.1c-.828 0-1.726.05-2.604.14a10 10 0 0 0-1.756.34a.35.35 0 1 0 .14.678zM7.8 17.064a.78.78 0 0 0-.7-.429c-.309 0-1.077.06-1.167.07c-.948.08-1.945.26-2.943.26a8.4 8.4 0 0 1-1.238-.05a.351.351 0 0 0-.14.688a10 10 0 0 0 1.757.33c.878.089 1.776.099 2.604.139l.43-.1c-.49.47-.998.938-1.448 1.427c-.279.28-.538.559-.798.858c-.26.3-.509.589-.738.898c-.559.739-.998 1.497-1.587 2.255a.35.35 0 0 0 .53.46c.678-.62 1.366-1.218 1.995-1.867c.27-.28.529-.568.788-.868a19 19 0 0 0 1.736-2.385c.26.998.44 2.176.729 3.084a.39.39 0 0 0 .489.28a.39.39 0 0 0 .28-.48c-.17-.918-.17-2.085-.3-3.113a7 7 0 0 0-.28-1.457m8.342-10.168a.79.79 0 0 0 .699.42c.309 0 1.077-.06 1.167-.06c.938-.09 1.996-.22 2.994-.23q.618-.045 1.237 0a.35.35 0 1 0 .14-.679a10 10 0 0 0-1.757-.339c-.918-.02-1.816-.02-2.664-.09l-.439.1c.49-.469.998-.938 1.447-1.427c.28-.28.549-.559.798-.858c.25-.3.51-.589.749-.898c.548-.739 1.047-1.497 1.576-2.255a.35.35 0 0 0-.529-.46c-.678.63-1.367 1.218-1.995 1.867a16.4 16.4 0 0 0-1.527 1.786c-.37.479-.708.998-1.058 1.457c-.26-.998-.439-2.176-.728-3.074a.39.39 0 0 0-.49-.289a.39.39 0 0 0-.279.479c.17.918.17 2.085.3 3.113c.07.49.19.972.36 1.437m6.056 9.979q-.62.09-1.247.09c-.998 0-1.996-.14-2.994-.22c-.09 0-.858-.08-1.167-.07a.78.78 0 0 0-.699.429a7 7 0 0 0-.359 1.437c-.13.998-.13 2.195-.3 3.113a.39.39 0 0 0 .28.48a.39.39 0 0 0 .489-.28c.29-.908.469-2.066.728-3.084c.35.49.689.998 1.058 1.457c.23.31.479.619.729.918c.249.3.518.589.798.868c.648.649 1.337 1.248 1.996 1.866a.35.35 0 1 0 .528-.459c-.528-.758-.997-1.517-1.576-2.255q-.36-.459-.749-.898a13 13 0 0 0-.798-.858a48 48 0 0 0-1.447-1.427l.44.1c.827 0 1.726-.05 2.604-.14a10 10 0 0 0 1.756-.33a.351.351 0 1 0-.14-.688z"/></g></svg>
            Entrenamiento
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center text-gray-600 border-l border-r border-gray-100 bg-gray-50/30">
            Semanas <br class="block"/>(Curva de aprendizaje)
          </div>
            <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center font-bold text-payflo-purple bg-payflo-purple/5">
            Instantáneo
          </div>
        </div>

        <!-- Row 5 -->
        <div class="grid grid-cols-12 group hover:bg-gray-50 transition-colors duration-200">
          <div class="col-span-4 p-5 md:px-8 flex items-center font-semibold text-gray-700">
            <svg class="w-8 h-8 mr-3 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><title xmlns="">strategy-target-center-phone</title><g fill="none" fill-rule="evenodd" clip-rule="evenodd"><path fill="#020202" d="M23.566 3.945a.4.4 0 0 0-.22-.23c-.07 0-.23 0-.3-.06l-.509-.14l-1.529-.38h-.1a7 7 0 0 0 .22-.76q.133-.566.16-1.148q.036-.375 0-.75a.74.74 0 0 0-.19-.34a.57.57 0 0 0-.6-.09c-.32.1-1.069.45-1.138.48c-.59.27-1.19.53-1.75.83q-.588.321-1.128.72q-.393.237-.74.539a.8.8 0 0 0-.26.36c-.105.332-.156.68-.15 1.029c0 .56.09 1.179.14 1.698l-.46.38a17 17 0 0 0-1.268 1.26a33 33 0 0 0-2.528 3.257a.33.33 0 0 0 .06.45a.32.32 0 0 0 .45-.06a41 41 0 0 1 2.857-2.998c.41-.4.85-.77 1.29-1.15h.09c.359 0 .719.12 1.078.2a9 9 0 0 1 1 .3q.346.141.709.23a1 1 0 0 0 .57-.08q.49-.256.909-.62a14 14 0 0 1 1.669-1.448c.22-.15.71-.35 1.069-.58a1.56 1.56 0 0 0 .54-.5a.45.45 0 0 0 .06-.4m-7.434.14c.11-.88.44-.86.92-1.16a11 11 0 0 1 1.048-.619c.55-.3 1.11-.57 1.68-.85l.639-.35q.003.067 0 .13q.042.5 0 1q-.062.404-.17.8h-.08a17 17 0 0 0-3.727 1.968l-.35.28q-.012-.6.04-1.2m5.256.47q-.326.178-.61.419c-.35.28-.669.61-.999.93c-1.129 1.128-.91.769-1.469.639q-.569-.13-1.149-.2l-.68-.07l.14-.12c3.928-3.267 3.888-2.608 5.596-1.948c-.32.13-.65.25-.829.35"/><path fill="#0c6fff" d="M10.377 10a.282.282 0 0 0-.12-.55a2.2 2.2 0 0 0-1.41 1a2 2 0 0 0-.15 1.848a2.19 2.19 0 0 0 1.77 1.26a2.42 2.42 0 0 0 1.998-.69a.34.34 0 0 0 0-.46a.33.33 0 0 0-.45 0a1.7 1.7 0 0 1-1.379.26a1.34 1.34 0 0 1-.949-.79a1.11 1.11 0 0 1-.05-.999a1.5 1.5 0 0 1 .74-.879"/><path fill="#0c6fff" d="M11.895 8.072a.28.28 0 0 0-.24-.32a5.3 5.3 0 0 0-1.129 0a4.2 4.2 0 0 0-1.129.24A4.56 4.56 0 0 0 6.4 11.789a3.69 3.69 0 0 0 2.757 3.997a5.17 5.17 0 0 0 5.696-1.999c.434-.51.72-1.128.83-1.789a2.58 2.58 0 0 0-.67-1.998a.32.32 0 0 0-.532.031a.31.31 0 0 0 .022.349a2 2 0 0 1 .51 1.489a3.2 3.2 0 0 1-.72 1.418a4.43 4.43 0 0 1-2.168 1.46c-.838.27-1.74.27-2.578 0a2.73 2.73 0 0 1-2.068-2.908A3.79 3.79 0 0 1 9.647 8.58q.458-.187.95-.25a3.6 3.6 0 0 1 .999 0a.28.28 0 0 0 .3-.26"/><path fill="#020202" d="M17.351 14.087a.32.32 0 0 0-.578.235q.012.062.049.115c.532.86.955 1.783 1.259 2.747c.23.571.288 1.196.17 1.8a2.1 2.1 0 0 1-.88.948a10 10 0 0 1-2.068.9l-3.517 1.199a12 12 0 0 1-3.178.86a3.8 3.8 0 0 1-1.998-.36a.53.53 0 0 1-.18-.21c-.11-.17-.18-.35-.26-.5a26 26 0 0 1-1.19-2.618c-.879-2.198-1.908-4.616-2.697-7.055a26 26 0 0 1-1.11-4.846a.28.28 0 0 0-.309-.25a.29.29 0 0 0-.25.31c.18 1.692.515 3.365 1 4.996c.709 2.478 1.648 4.996 2.457 7.205c.17.47.35.929.56 1.389s.41.909.64 1.349q.189.44.47.829c.124.155.28.281.459.37c.772.377 1.63.546 2.488.49a13 13 0 0 0 3.457-1l3.468-1.299a10.8 10.8 0 0 0 2.218-1.06c.532-.32.946-.803 1.179-1.378a3.93 3.93 0 0 0-.23-2.258c-.356-1.024-.836-2-1.429-2.908"/><path fill="#020202" d="M.914 6.872a.29.29 0 0 0 .11-.37a.86.86 0 0 1 .16-.829c.198-.26.438-.486.71-.67c0 .36.099.71.169 1.07c.2 1 .46 2.049.66 3.068c.18.85.36 1.708.579 2.568c.34 1.289.72 2.568 1.17 3.807a42.5 42.5 0 0 0 2.547 5.755a1.5 1.5 0 0 1-.22 0a.29.29 0 0 0-.23.416a.28.28 0 0 0 .27.154c1.204-.028 2.4-.21 3.557-.54c.46-.13.91-.27 1.36-.43c.659-.24 1.308-.519 1.998-.779c.84-.38 1.679-.74 2.498-1.129c.56-.27 1.1-.54 1.639-.85a.32.32 0 0 0-.29-.569c-.55.25-1.1.47-1.659.68c-.85.31-1.708.6-2.578.889l-2.298.88c-.75.29-1.489.599-2.258.829c-.36.11-.73.21-1.11.29a50 50 0 0 1-1.848-4.727c-.42-1.189-.83-2.388-1.16-3.677S3.933 10.2 3.603 9.001q-.42-1.5-.9-2.998c-.11-.42-.21-.84-.29-1.259c.27-.16.56-.31.88-.47l.39-.16l.68.89c.08.11.16.27.239.4a1 1 0 0 0 .23.23a.68.68 0 0 0 .47.14q.473-.02.939-.11q.466-.058.919-.19c.64-.2 1.26-.47 1.909-.62q.433-.087.849-.24c.16-.056.3-.16.4-.3a1.2 1.2 0 0 0 .14-.46c0-.239 0-.539.05-.719q.06-.44.18-.869c0-.14.08-.26.12-.4l.998-.18c.25 0 .45.22.64.49c.34.51.615 1.06.82 1.639a.32.32 0 0 0 .399.21a.33.33 0 0 0 .21-.4a7.7 7.7 0 0 0-1-2.168a1.37 1.37 0 0 0-1.139-.61c-.36 0-.749.08-1.139.14h-.08q-1.685.24-3.327.69q-1.343.375-2.628.919q-.864.371-1.679.84C1.074 4.483.025 5.692.544 6.722a.29.29 0 0 0 .37.15M4.91 3.565c.8-.3 1.668-.58 2.538-.84s1.699-.479 2.508-.669c-.11.3-.21.61-.29.92c-.15.679 0 .659-.87.869l-2.747.8c-.93.249-.73.249-1.13-.15l-.619-.69z"/></g></svg>
            Consistencia
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center text-gray-600 border-l border-r border-gray-100 bg-gray-50/30">
            Variable <br class="block"/>(Fatiga, estrés)
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center font-bold text-payflo-purple bg-payflo-purple/5">
            100% Estable
          </div>
        </div>

        <!-- Row 6 -->
        <div class="grid grid-cols-12 group hover:bg-gray-50 transition-colors duration-200">
          <div class="col-span-4 p-5 md:px-8 flex items-center font-semibold text-gray-700">
            <svg class="w-8 h-8 mr-3 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><title xmlns="">database-check</title><g fill="none" fill-rule="evenodd" clip-rule="evenodd"><path fill="#020202" d="M22.678 14.605a5.81 5.81 0 0 0-9.296.58c-1.643 2.425-.791 6.011.841 7.013a.303.303 0 0 0 .341-.5c-1.302-.912-1.883-4.008-.42-6.011a4.89 4.89 0 0 1 7.633-.391c2.424 2.865 1.002 7.193-3.256 7.694a5.5 5.5 0 0 1-2.324-.16a.344.344 0 0 0-.22.65a6.2 6.2 0 0 0 2.614.28a5.56 5.56 0 0 0 4.087-9.155"/><path fill="#020202" d="M16.868 20.545c1.142.06 2.495-3.115 3.005-4.147a1 1 0 0 0 .27-.581a.36.36 0 0 0-.65-.18c-.24.29-2.715 3.896-2.655 4.007c-.2 0-1.202-1.172-1.352-1.263s-.581.17-.35.511c.38.571 1.06 1.613 1.732 1.653"/><path fill="#0c6fff" d="M10.637 17.55a.34.34 0 0 0-.05-.671a18.6 18.6 0 0 1-8.806-1.443c-.46 0-.54.491 0 .832a13.78 13.78 0 0 0 8.856 1.282m-7.032-4.228c3.716.672 7.243.892 10.628-.52a.341.341 0 0 0-.25-.632c-3.576 1.333-10.018.651-12.422-.36c-.43 0-.42.52 0 .771a6.1 6.1 0 0 0 2.044.741m6.06-4.147c-1.943.06-6.36.08-8.104-1.002c-.43 0-.721.39 0 .812c1.272.841 4.007 1.322 7.012 1.342c2.505 0 5.23-.21 7.273-1.362c.33-.401.19-.902-.1-.762a12.7 12.7 0 0 1-6.08.972"/><path fill="#020202" d="M17.119 3.004c0-1.312-2.064-2.424-3.256-2.404a.34.34 0 1 0 0 .671c.831 0 2.454.912 2.434 1.743c0 .541-.54 1.102-1.893 1.533a15.8 15.8 0 0 1-4.488.55c-2.004 0-4.939.181-6.742-.64A3.84 3.84 0 0 1 1.47 3.305c-.43-.752 1.362-1.403 2.154-1.744c2.454-.78 5.259-.56 7.864-.56a.3.3 0 1 0 0-.602c-3.487-.21-6.612-.54-9.617.812C.99 1.6.179 2.333.299 3.254c-.31 1.964-.07 4.318-.18 5.56c-.187 2.78-.153 5.57.1 8.345a3.75 3.75 0 0 0 1.312 2.454c1.242 1.002 5.009 1.683 7.754 1.523a.34.34 0 0 0 .32-.35c0-.722-1.623.14-5.36-1.072a5.1 5.1 0 0 1-2.003-.892A2.57 2.57 0 0 1 1.24 17.32C.61 13.773.85 5.35.86 4.296C3.094 6.55 7.12 6.3 9.946 6.16c4.488-.15 5.9-1.283 6.271-1.553s.22 4.929.28 5.36a.3.3 0 0 0 .602 0c.39-4.438.12-2.024.02-6.963"/></g></svg>
            Registro de Datos
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center text-gray-600 border-l border-r border-gray-100 bg-gray-50/30">
            Manual <br class="block"/>(Propenso a error)
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center font-bold text-payflo-purple bg-payflo-purple/5">
            Automático
          </div>
        </div>

        <!-- Row 7 -->
        <div class="grid grid-cols-12 group hover:bg-gray-50 transition-colors duration-200">
          <div class="col-span-4 p-5 md:px-8 flex items-center font-semibold text-gray-700">
            <svg class="w-8 h-8 mr-3 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><title xmlns="">currency-dollar-bubble</title><g fill="none" fill-rule="evenodd" clip-rule="evenodd"><path fill="#0c6fff" d="M23.808 10.17a7.6 7.6 0 0 0-1.54-2.63a4.4 4.4 0 0 0-1.09-.54c0-.35.13-1 .1-1.34a5.56 5.56 0 0 0-1.44-3.15c-.95-1-3.25-1.66-4.6-.54c-.08.07 0 0-.12-.29c-.67-1.63-4.12-1.87-6.33.79a4.5 4.5 0 0 0-.45 1.29a3.52 3.52 0 0 0-4.999 1.9a1.51 1.51 0 0 0 0 1.74c-2.2.73-3.71 3.899-3.26 6.159a5 5 0 0 0 2.82 3.27c-1.06 1.67-.44 4.19 2 5.47a7.82 7.82 0 0 0 5.5.5a7 7 0 0 0 1.14-.69c1 1.77 3.83 1.72 5.88.82a6.28 6.28 0 0 0 3.629-6c0-.31-.09-.25 0-.28c1.61-.52 3.58-3.65 2.76-6.48m-1.08 2.829a5.4 5.4 0 0 1-1.73 2.5c-.63.2-.41.16-.85.16s-.6.55-.6.55a.6.6 0 0 0 .18.42c1 1-.6 5.57-4.85 5.76c-2.27.1-2.29-1.06-2.76-1.56a.67.67 0 0 0-.85 0c-1.27.92-2.41 1.77-5.269.74c-2.35-.84-3-2.9-2.23-4.22a2 2 0 0 0 .63-.22a.63.63 0 0 0 .19-.95c-.21-.23-.41-.19-.71-.13a3.1 3.1 0 0 1-2.15-1.25a3.3 3.3 0 0 1-.73-1.42c-.51-2.12 1.18-5.38 3.32-5.38a.38.38 0 0 0 .14-.74a1.4 1.4 0 0 1-.29-.08C3.66 6.82 3.73 6.47 4 6a2.84 2.84 0 0 1 3.5-1.91c1.33.35 1.18.67 1.2.67a.29.29 0 0 0 .37-.2a1.93 1.93 0 0 1 .26-1.63c1.74-2 4.21-2.1 5-1.07c.21.27.15.77.42 1.07a.48.48 0 0 0 .59 0A2.21 2.21 0 0 1 18 2.38a3 3 0 0 1 1.999 1.94a4.22 4.22 0 0 1 .23 2.68c0 .77.36.74 1.31 1.16c1.27 1.59 1.78 2.89 1.19 4.84"/><path fill="#020202" d="M14.339 11.74c-1.31-.89-2.73-.57-3.93-1.32c-.27-.16-.48-.26-.47-.58a1.7 1.7 0 0 1 .18-.63c.79-1.63 4-1.48 4.37-.69a.3.3 0 1 0 .51-.25a1.71 1.71 0 0 0-1.41-.93a5 5 0 0 0-.8-.12a2 2 0 0 0-.16-1.61a.3.3 0 0 0-.3-.31c-.27 0-.82 1-.43 1.92a3 3 0 0 0-3 2.56a1.61 1.61 0 0 0 .91 1.59c1.35.87 2.75.55 3.89 1.32c.4.26.83.89.64 1.33c-.58 1.34-2.8 1.58-3.93 1c-.25-.13-1.07-.58-1-.86a.34.34 0 0 0-.67-.12c-.15.69.71 1.3 1.32 1.66a4.1 4.1 0 0 0 1.64.45a2.56 2.56 0 0 0 .49 2.34a.34.34 0 0 0 .4-.27a3.3 3.3 0 0 0 0-2.08c2.83-.25 3.86-2.92 1.75-4.4"/></g></svg>
            Costo Operativo
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center text-gray-600 border-l border-r border-gray-100 bg-gray-50/30">
            Alto <br class="block"/>(Salario + Cargas)
          </div>
          <div class="col-span-4 p-5 md:px-8 flex items-center justify-center text-center font-bold text-payflo-purple bg-payflo-purple/5">
            Pago por uso
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>
